.navbar-container {
  padding: 1.5rem 1.5rem 0 1.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* Reduced padding for a sleeker look */
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-user-info, .nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-greeting {
  font-weight: 500;
  color: #ccc;
}

.nav-button {
  padding: 0.6rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.4);
}

.nav-button.primary {
  background: #00aaff;
  border-color: transparent;
}
.nav-button.primary:hover {
  background: #0077ff;
}

.nav-button.logout {
  background: #ff4d4d;
  border-color: transparent;
}
.nav-button.logout:hover {
    background: #cc0000;
}